{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Hospital{% endblock %}

{% block content %}


    <div class="row">
     <div class="col">
           <h3>Hospitals</h3>

     </div>
     <div class="col text-right">
    <a class="btn btn-primary " role="button" href="{% url 'ct_helper:hospitals_add' %}"> Add a hospital</a>

     </div>
</div>
    {% if objects %}
        <div>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Hospital name</th>
                <th scope="col">Website</th>
                <th scope="col">Phone number</th>
                <th scope="col">Address</th>
                <th scope="col">Actions </th>
            </tr>
            </thead>
            {% for h in objects %}
                <tr>
                    <th scope="row">{{ h.hospital_name }}</th>
                    <td>{{ h.hospital_website }}</td>
                    <td>{{ h.hospital_phone_number }}</td>
                    <td>{{ h.hospital_address }}</td>
                    <td>
                        <a class="btn btn-info" href="{% url 'ct_helper:hospitals_update' pk=h.id%}" role="button">Update</a>
                        <a class="btn btn-danger" href="{% url 'ct_helper:hospitals_delete' pk=h.id%}" role="button">Delete</a>

                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
        {% else %}
        <div>
        <p><h3>No hospitals yet...</h3></p>
        </div>
    {% endif %}
{% endblock %}
