{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Surgeons{% endblock %}

{% block content %}

    <div class="row">
     <div class="col">
           <h3>Drugs</h3>

     </div>
     <div class="col text-right">
           <a class="btn btn-primary" role="button" href="{% url 'ct_helper:drugs_add' %}"> Add a drug</a>

     </div>
</div>

    <div >
        <form method="get" action="{% url 'ct_helper:drugs' %}">
            <label  for="input_txt_name"><h5>Search by drug name :</h5> </label>
            <input type="text" id="input_txt_name" name="name"
                   placeholder="Enter name to search for" required >

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
        {% if filter_param %}
            <p>results for name "{{ filter_param }}" </p>
            <a class="btn btn-secondary" role="button" href="{% url 'ct_helper:drugs' %}"> Clear search</a>
        {% endif %}
    </div>
    {% if objects %}
        <div>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Drug name</th>
                    <th scope="col">Description</th>

                    <th scope="col">Actions</th>
                </tr>
                </thead>
                {% for d in objects %}
                    <tr>
                        <th scope="row">{{ d.drug_name }}</th>
                        <td>{{ d.drug_description }}</td>
                        <td>
                            <a class="btn btn-info" href="{% url 'ct_helper:drugs_update' pk=d.id %}" role="button">Update</a>

                            <a class="btn btn-danger" href="{% url 'ct_helper:drugs_delete' pk=d.id %}" role="button">Delete</a>

                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% elif filter_param %}
        <div>
            <p>
            <h3>No drugs with  name "{{ filter_param }}"</h3></p>
        </div>
    {% else %}
        <div>
            <p>
            <h7>No drugs yet...</h7></p>
        </div>
    {% endif %}
{% endblock %}
