{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Surgeons{% endblock %}

{% block content %}

    <div class="row">
     <div class="col">
           <h3>Operations</h3>

     </div>
     <div class="col text-right">
           <a class="btn btn-primary" role="button" href="{% url 'ct_helper:operations_add' %}"> Add an operation</a>
     </div>
</div>

    {% if objects %}
        <div>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Patient name</th>
                      <th scope="col">Age</th>
                    <th scope="col">Hospital</th>
                    <th scope="col">Operation date</th>
                    <th scope="col">Operation name</th>
                    <th scope="col">surgeon</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                {% for o in objects %}
                    <tr>
                        <th scope="row">{{ o.patient.patient_name }}</th>
                        <td>{{o.get_age  }}</td>
                        <td>{{ o.patient.hospital }}</td>
                        <td>{{o.operation_date.date }}</td>
                        <td>{{ o.operation_name }}</td>
                        <td> {{ o.surgeon }}</td>

                        <td>
                            <a class="btn btn-success" href="{% url 'ct_helper:operations_details' pk=o.id %}" role="button">Details</a>

                            <a class="btn btn-info" href="{% url 'ct_helper:operations_update' pk=o.id %}" role="button">Update</a>

                            <a class="btn btn-danger" href="{% url 'ct_helper:operations_delete' pk=o.id %}" role="button">Delete</a>

                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div>
            <p>
            <h7>No operations yet...</h7></p>
        </div>
    {% endif %}
{% endblock %}

